body {
    font-family: 'Montserrat', sans-serif !important;
}

/*MAP*/
.gm-style-cc{
    display:none!important;
}

#map {
    height: 50vh;
    max-height: 600px;
}

circle {
    fill: red;
    opacity: 0.5;
}
/*INDIVIDUAL SCATTERPLOT*/
#individual {
  width: 100%;
  height: 100%;
  font-size: 0.5em;
  max-height: 600px;
}

#individual path { 
    stroke: steelblue;
    fill: none;
}

#individual .axis path,
#individual .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

#individual .axis text {
  fill: #555;
}

#individual .line {
  fill: none;
  stroke: #ef0d0c;
  stroke-width: 1.5px;
}


/*SPIRAL GRAPH*/
#spiral{
    font-size: 0.55em;
    font-family: 'Arial';
    stroke-width: 1;
    stroke: gray;
}

#spiral .arc{
    stroke-width: 0;

}