body {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 100 !important;
}

.gm-style-cc{
    display:none!important;
}

#map {
    height: 50vh;
    max-height: 600px;
}

#individual-container {
    height: 40vh;
    max-height: 600px;
    font-size: 0.5em;
}

circle {
    fill: red;
    opacity: 0.5;
}

.axis path,
.axis line {
  fill: none;
  stroke: #555;
  shape-rendering: crispEdges;
}

.axis text {
  fill: #555;
}

.line {
  fill: none;
  stroke: #ef0d0c;
  stroke-width: 1.5px;
}

#individual {
  width: 100%;
  height: 100%;
  position: absolute;
}