body {
    font-family: 'Montserrat', sans-serif !important;
}

.initial{
    padding: 1em;
    text-align: center;
    color: gray;
}

/*MAP*/
.gm-style-cc{
    display:none!important;
}

#map {
    height: 50vh;
    max-height: 600px;
}

circle {
    fill: red;
    opacity: 0.5;
}
/*Filters*/
#filters {
    text-align: center;
}

#depthamount, #timeamount{
    font-size: 0.75em;
    width: 100%;
    line-height: 2;
    color: gray;
    text-align: center;
}

#timeamount {
    margin-bottom: 0;
}

/*INDIVIDUAL SCATTERPLOT*/
#individual {
  width: 140px !important;
  height: 140px !important;
  top: 0 !important;
  left: 0 !important;;
  font-size: 0.5em;
  max-height: 600px;
  padding: 2px !important;
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
  border: 1px solid gray;
  border-radius: 2px 2px 0 0;
}

#individual path {
    stroke: steelblue;
    fill: none;
}

#individual .axis path,
#individual .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

#individual .axis text {
  fill: #555;
}

#individual .line {
  fill: none;
  stroke: #ef0d0c;
  stroke-width: 1.5px;
}

/* Scatter Plot */
#scatterplot text {
    font-size: .9em;
}

#scatterplot .legend text {
    font-size: .6em;
}

#scatterplot .salLegend text {
    font-size: .6em;
}

#scatterplot .axis path,
#scatterplot .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

#scatterplot .x path {
    stroke: red !important;
}


/*SPIRAL GRAPH*/
#sal, #temp{
    font-size: 0.7em;
    color:gray;
}

#sal .arc, #temp .arc{
    stroke-width: 0;
}


/*Spinner loading animation*/
.overlay {
    padding: 0!important;
    position: relative;
}

.spinner {
    display:none;
    position:absolute;
    background-color: lightgray;
    opacity: 0.5;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

#map + .spinner{
    display:block;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid gray;
  border-top-color: black;
  animation: spinner .6s linear infinite;
}

/*INSTRUCTIONS*/
.padding-top {
    padding-top: 2.5em;
}